<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.HBuilder.integrate">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- Barcode(二维码)  begin -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />




    <!-- Barcode(扫码)  start -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <!-- Barcode(扫码)  start -->










    <permission
        android:name="getui.permission.GetuiService.com.HBuilder.integrate"
        android:protectionLevel="normal" />
    <!-- Push(推送)-个推    end -->



    <!-- Speech(语音识别)  begin -->
    <!-- Speech - 讯飞语音云 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Speech(语音识别)  end -->






    <!-- 小米分享 end -->
    <application
        android:name="io.dcloud.application.DCloudApplication"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
























        <!--===========================================广告联盟配置相关 开始===================================-->

        <activity
            android:name="io.dcloud.PandoraEntry"
            android:configChanges="orientation|keyboardHidden|screenSize|mcc|mnc|fontScale"
            android:hardwareAccelerated="true"
            android:screenOrientation="user"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--开发者须自行配置该字段对应value值，替换appid和adid为自己应用的appid和广告联盟会员id，否则可能影响统计结算-->
<!--        <meta-data
            android:name="DCLOUD_STREAMAPP_CHANNEL"
            android:value="io.dcloud.%APPID%|%APPID%|%adid" />-->
        <meta-data
            android:name="DCLOUD_STREAMAPP_CHANNEL"
            android:value="io.dcloud.HelloH5|HelloH5|adid" />

        <!--===========================================广告联盟配置相关 结束===================================-->


        <activity
            android:name="com.HBuilder.integrate.ActivityEntry"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:windowSoftInputMode="adjustResize">
<!--                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>-->
        </activity>
        <activity
            android:name="com.HBuilder.integrate.SDK_WebApp"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard|navigation|mcc|mnc|fontScale"
            android:screenOrientation="user"
            android:theme="@style/DCloudTheme"> <!-- 离线配置沉浸式  SDK_WebApp  作为apk入口时  必须设置 SDK_WebApp   的主题为android:theme="@style/DCloudTheme" -->
        </activity>
        <activity
            android:name="com.HBuilder.integrate.SDK_WebView"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard|navigation|mcc|mnc|fontScale"
            android:screenOrientation="sensor"
            android:theme="@style/DCloudTheme"/>
    </application>

</manifest>